<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<import resource="applicationContext-common.xml"/>
	<import resource="applicationContext-mongodb.xml"/>
	<import resource="applicationContext-user.xml"/>
	<import resource="applicationContext-data.xml"/>
	<import resource="applicationContext-customer.xml"/>
	<import resource="applicationContext-inter.xml"/>
	<import resource="applicationContext-detail.xml"/>
	<import resource="applicationContext-record.xml"/>
	<import resource="applicationContext-sdkinfo.xml"/>
	<import resource="applicationContext-adver.xml"/>
	<import resource="applicationContext-ddl.xml"/>
	<import resource="applicationContext-offline.xml"/>
	<import resource="applicationContext-offerinfo.xml"/>
</beans>