<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>kok_advserver</display-name>
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>kok_advserver.root</param-value>
    </context-param>
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:log4j.properties</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/classes/META-INF/spring/applicationContext-*.xml</param-value>
    </context-param>

    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>com.kokmobi.server.servlet.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>com.kokmobi.server.servlet.RedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisListServlet</servlet-name>
        <servlet-class>com.kokmobi.server.servlet.DisListServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UserInfoServlet</servlet-name>
        <servlet-class>com.kokmobi.server.servlet.UserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSilentAdListServlet</servlet-name>
        <servlet-class>com.kokmobi.server.servlet.GetSilentAdListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPlugInInfoServlet</servlet-name>
        <servlet-class>com.kokmobi.server.servlet.GetPlugInInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAdListServlet</servlet-name>
        <servlet-class>com.kokmobi.server.servlet.GetAdListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAdListFeebackServlet</servlet-name>
        <servlet-class>com.kokmobi.server.servlet.GetAdListFeebackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAdjustInfoServlet</servlet-name>
        <servlet-class>com.kokmobi.server.servlet.GetAdjustInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdLogDataServlet</servlet-name>
        <servlet-class>com.kokmobi.server.servlet.AdLogDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectJsonServlet</servlet-name>
        <servlet-class>com.kokmobi.server.servlet.RedirectJsonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SHDisListServlet</servlet-name>
        <servlet-class>com.kokmobi.server.servlet.SHDisListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateJarServlet</servlet-name>
        <servlet-class>com.kokmobi.server.servlet.UpdateJarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CacheUtilServlet</servlet-name>
        <servlet-class>com.kokmobi.server.servlet.CacheUtilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CacheUtilServlet</servlet-name>
        <servlet-class>com.kokmobi.server.servlet.CacheUtilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetWebAdListServlet</servlet-name>
        <servlet-class>com.kokmobi.server.servlet.GetWebAdListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebAdListServlet</servlet-name>
        <servlet-class>com.kokmobi.server.servlet.WebServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscribeActiveServlet</servlet-name>
        <servlet-class>com.kokmobi.server.servlet.SubscribeActiveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebAdListServlet</servlet-name>
        <url-pattern>/getweb</url-pattern>
    </servlet-mapping>
     <servlet>
         <servlet-name>SubLinkServlet</servlet-name>
         <servlet-class>com.kokmobi.server.servlet.SubLinkServlet</servlet-class>
     </servlet>
    <servlet>
        <servlet-name>WebClickServlet</servlet-name>
        <servlet-class>com.kokmobi.server.servlet.WebClickServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscribeServlet</servlet-name>
        <servlet-class>com.kokmobi.server.servlet.SubscribeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebClickServlet</servlet-name>
        <url-pattern>/getwebclick</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OnlinewebServlet</servlet-name>
        <servlet-class>com.kokmobi.server.servlet.OnlinewebServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OnlinewebServlet</servlet-name>
        <url-pattern>/getonlineweb</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OfflineServlet</servlet-name>
        <servlet-class>com.kokmobi.server.servlet.OfflineSdkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OfflineServlet</servlet-name>
        <url-pattern>/offlineSdk</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OnlineServlet</servlet-name>
        <servlet-class>com.kokmobi.server.servlet.OnlineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OnlineServlet</servlet-name>
        <url-pattern>/goOnline</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>PromotionClickServlet</servlet-name>
        <servlet-class>com.kokmobi.server.servlet.PromotionClickServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PromotionClickServlet</servlet-name>
        <url-pattern>/promotion</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>GetWebAdListServlet</servlet-name>
        <url-pattern>/newservice/newgetWeb.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectJsonServlet</servlet-name>
        <url-pattern>/goJsonLink</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SHDisListServlet</servlet-name>
        <url-pattern>/getSHDisList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateJarServlet</servlet-name>
        <url-pattern>/newjarUpdate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/checkUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/goLink</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisListServlet</servlet-name>
        <url-pattern>/getDisList</url-pattern>
    </servlet-mapping>




    <servlet-mapping>
        <servlet-name>CacheUtilServlet</servlet-name>
        <url-pattern>/cacheUtil</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserInfoServlet</servlet-name>
        <url-pattern>/newservice/newopenOrSale.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSilentAdListServlet</servlet-name>
        <url-pattern>/newservice/newgetSilent.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPlugInInfoServlet</servlet-name>
        <url-pattern>/newservice/newgetPushSdkInfor.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAdListServlet</servlet-name>
        <url-pattern>/newservice/newgetApks.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAdListFeebackServlet</servlet-name>
        <url-pattern>/newservice/newjsApk.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAdjustInfoServlet</servlet-name>
        <url-pattern>/newservice/getadjust.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdLogDataServlet</servlet-name>
        <url-pattern>/newservice/newbackDatas.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscribeServlet</servlet-name>
        <url-pattern>/gosubscribe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscribeActiveServlet</servlet-name>
        <url-pattern>/subactive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubLinkServlet</servlet-name>
        <url-pattern>/gosublink</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
