<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd" default-autowire="byName">

	<bean id="sdkService" class="com.kokmobi.server.service.impl.SdkServiceImpl">
		<property name="sdkDao" ref="sdkDao"></property>
		<property name="sdkDataDao" ref="sdkDataDao"></property>
	</bean>
	<bean id="disListService" class="com.kokmobi.server.protocol.service.impl.DisListServiceImpl">
		<property name="projectDao" ref="projectDao"></property>
		<property name="apkInfoDao" ref="apkInfoDao"></property>
	</bean>
	<bean id="redisService" class="com.kokmobi.server.service.impl.RedistServiceImpl" init-method="initPool">
	</bean>
	
	<bean id="adUsersProcessService" class="com.kokmobi.server.protocol.service.impl.AdUsersProcessServiceImpl">
	</bean>
	
	<bean id="areaService" class="com.kokmobi.server.service.impl.AreaServiceImpl" init-method="loadCountryMap">
		<property name="sdkDao" ref="sdkDao"></property>
	</bean>
	
	<bean id="getAdListProcessService" class="com.kokmobi.server.protocol.service.impl.GetAdListProcessServiceImpl">
	</bean>
	<bean id="getAdListFeebackService" class="com.kokmobi.server.protocol.service.impl.GetAdListFeebackServiceImpl">
	</bean>
	<bean id="adLogDataProcessService" class="com.kokmobi.server.protocol.service.impl.AdLogDataProcessServiceImpl">
	</bean>
	<bean id="getSilentAdListProcessService" class="com.kokmobi.server.protocol.service.impl.GetSilentAdListProcessServiceImpl">
	</bean>
	<bean id="getWebAdListProcessService" class="com.kokmobi.server.protocol.service.impl.GetWebAdListProcessServiceImpl">
	</bean>
	<bean id="getPluginInfoProcessService" class="com.kokmobi.server.protocol.service.impl.GetPluginInfoProcessServiceImpl">
	</bean>
	<bean id="getAdjustKeyService" class="com.kokmobi.server.protocol.service.impl.GetAdjustKeyServiceImpl">
	</bean>
	
</beans>